# Admin panel credentials (change for production)
ADMIN_USER=admin
ADMIN_PASS=123456

# Cookie name (optional)
ADMIN_COOKIE_NAME=bb_admin_sess
DATABASE_URL="file:./prisma/data/burger.db"

# Stripe Online-Zahlung
# Live için sk_live_..., test için sk_test_... kullanılır.
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Gerçek domain
NEXT_PUBLIC_BASE_URL=https://www.burger-brothers.berlin

